[submodule "Libraries/autogenlib"]
	path = Libraries/autogenlib
	url = https://github.com/Zeeeepa/autogenlib.git
[submodule "Libraries/serena"]
	path = Libraries/serena
	url = https://github.com/Zeeeepa/serena.git
[submodule "Libraries/graph-sitter"]
	path = Libraries/graph-sitter
	url = https://github.com/Zeeeepa/graph-sitter.git
